In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()
data = {'id': [12345, 54321, 98765, 66678, 34567, 34567],
        'phone': [89997776655, 87778885566, 87776664577, 87778885566, 84547895566, 89087545678], 
        'mail': ['test@mail.ru', 'two@mail.ru', 'three@mail', 'four@mail.ru', 'four@mail.ru', 'five@mail.ru']}

df = pd.DataFrame(data, index =[1, 2, 3, 4, 5, 6])
df

      id        phone          mail
1  12345  89997776655  test@mail.ru
2  54321  87778885566   two@mail.ru
3  98765  87776664577    three@mail
4  66678  87778885566  four@mail.ru
5  34567  84547895566  four@mail.ru
6  34567  89087545678  five@mail.ru

In [3]:
def related_data(all_data, required_data):
    relevant_data = all_data.apply(lambda x: x.isin(required_data.ravel()))
    result_df = all_data.iloc[np.unique(np.where(relevant_data)[0]),:]
    if set(required_data) == set(result_df.to_numpy().ravel()):
        return result_df
    else:
        return related_data(all_data, result_df.to_numpy().ravel())
    
necessary_data = 87778885566

related_data(df, np.array([necessary_data]))

      id        phone          mail
2  54321  87778885566   two@mail.ru
4  66678  87778885566  four@mail.ru
5  34567  84547895566  four@mail.ru
6  34567  89087545678  five@mail.ru